<!doctype html>

<header>
<link rel='stylesheet' type="text/css" href='test.css'>
</header>

<body>

	<div id="hoverlist">
		<ul>
			<li class="top">Cosplay</li>
			<li class"item"><a href="">Sakura 2015</a></li>
			<li class"item"><a href="">Newcon 2014</a></li>
			<li class"item"><a href="">Kumoricon 2014</a></li>
			<li class"item"><a href="">Sakuracon 2014</a></li>
		</ul>

		<ul>
			<li class="top">Art</li>
			<li class"item"><a href="">Homestuck</a></li>
			<li class"item"><a href="">Steven Universe</a></li>
			<li class"item"><a href="">Personal</a></li>
			<li class"item"><a href="">Lolita</a></li>
		</ul>
	</div>
</body> 
</html>