#hoverlist {
	display: block;
	width: 190px;
	}

	#hoverlist a {
		text-decoration: none;
	}

	#hoverlist ul {
		list-style-type: none; 
	}

	#hoverlist .top {
		background-color: #1ed5ce;
	}

	#hoverlist ul li.item {
		display: none;
	}

	#hoverlist ul:hover .item {
		display: block;
		border: 1px solid black;
		background-color: #61d8d8;
	}